.table-wrapper {
    width: 80%;
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid hsl(206deg 93% 82%);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-shadow: 1px 1px 4px #e9f2f5;
    padding: 10px;
    background: aliceblue;
    overflow-x: scroll;
}

.table {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; */
}

.table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
}

.table tr:nth-child(1) {
    background-color: #8ec4ee;
    text-shadow: 1px 1px 8px #00223b;
    color: white;
}

.table tr:nth-child(2n+3) {
    background-color: #7f91a4;
    text-shadow: 0px 0px 6px #00223b;
    color: white;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.row-item {
    padding: 5px;
    margin: 5px;
    text-align: start;
    border-collapse: collapse;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 150px;
    line-height: 1.6em;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

.row-item::-webkit-scrollbar { /* for Chrome, Safari, and Opera */
    display: none; 
}


.line-count-5 {
    max-height: 7.5em;
    -webkit-line-clamp: 5;
}

.sort {
    transform: rotate(-90deg);
}

.button-wrapper {
    display: flex;
}

.filter-wrapper {
    display: flex;
}

.filter-select, .filter-button, .filter-field, .pagination-select {
    border-radius: 5px;
    border-width: 0px;
    margin: 10px 5px;
    color: white;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-shadow: 1px 1px 4px #e9f2f5;
    box-shadow: 1px 1px 1px 1px #3a6d95;
    background: #8ec4ee;
    width: 120px;
}

.filter-field {
    border-width: 1px;
    border-color: #8ec4ee;
    background: white;
    color: black;
    width: auto;
}

.filter-control {
    width: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.filter-button:focus, .filter-select:focus, .filter-field:focus, .pagination-select {
    outline: none;
}

.filter-button:hover, .filter-select:hover, .pagination-select:hover {
    background: #7f91a4;
    color: white;
}

.filter-button:active {
    box-shadow: 0px 0px 0px 0px #3a6d95;
    transform: translate(2px, 2px);
}

.pagination-wrapper {

}